---
import CodeIcon from './icons/Code.astro'
---

<h2 class="flex gap-x-4 items-center mb-8 text-white shadow-text-purple font-bold text-3xl px-5 md:px-0 sm:px-4" id="aboutme">
	<CodeIcon />
    About me
</h2>
<main class="mt-20 flex flex-col gap-x-10 md:flex-row h-auto items-center justify-center">
    <img src="https://avatars.githubusercontent.com/u/106359853?v=4" alt="Imagen de Geovas"
        class="size-80 md:size-72 relative pointer-events-none opacity-30 md:opacity-100 -rotate-6 rounded-lg"
    >

    <div class="flex absolute mt-20 md:mt-0 md:relative flex-col gap-y-4 text-center max-w-[350px]">
        <h2 class="-skew-y-3 text-4xl lg:text-5xl text-green-400/90 font-bold">
             Sobre mí
        </h2>

        <p class="text-pretty text-xl">¡Hola! mi nombre es Geovany Rincón, soy un apacionado y <span class="text-green-300/70">amante de la programación</span>, me llamó la atención el desarrollo web a los 15 años.</p>

        <p class="text-pretty text-xl"> Por lo que he <strong>estudiado por 2 años</strong>, estoy dispuesto a aprender <span class="text-blue-400/80">nuevas tecnologías</span> que se cruzen en mi <span class="text-purple-300/80">camino como FullStack</span>.</p>
    </div>
</main>