<h2 class="text-white shadow-text-green font-bold text-3xl">
     Mexican 
</h2>

<img class="w-12 h-12 rounded-lg" src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f1f2-1f1fd.png">
