---
// Creidts ->  Midudev (https://midu.dev)
import ExperienceItem from "./ExperinceItem.astro"
import CodeIcon from "./icons/Code.astro"

const EXPERIENCIE = [
  {
    date: "Diciembre 2023",
    title: "Principal FullStack Developer",
    company: "CBTis 86",
    description:
      "Desarrollo de aplicaciones web para la gestión de recursos y alumnos. Contribuí tanto en el fronted como en el backend durante el desarollo de la aplicación. Implementación de metodologías ágiles y buenas prácticas de desarrollo.",
  },
  {
    date: 'Marzo 2024',
    title: 'Freelance FullStack Developer',
    company: 'Freelance',
    description: 'Desarrollo de aplicacion web para la gestion de clientes, control del inventario de la empresa LOG-IN.'
  },
  {
    date: "Actualmente...",
    title: "En constante aprendizaje",
    company: "GeoDev",
    description:
      "Trato de aprender algo nuevo cada día y compartirlo en grupos de programación. Listo para nuevas oportunidades laborales y cualquier tecnología nueva por aprender."
  },
]
---

<ol class="relative my-10 md:my-20">
  <h2 class="flex items-center gap-x-4 text-white shadow-text-purple font-bold text-3xl px-2 md:px-0">
    <CodeIcon class="size-7" /> 
     Experience 
  </h2>

  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mt-10 md:mt-14">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>