<header class="fixed top-0 z-10 flex justify-between items-center w-full px-4 rounded-3xl font-bold md:w-[820px] md:mt-2">
    <img src="https://avatars.githubusercontent.com/u/106359853?v=4" class="size-7 rounded-full">

    <nav class="flex gap-5 justify-center">
        <a href="#top"> Home </a>
        <a href="#experience"> Experience </a>
        <a href="#projects"> Projects </a>
        <a href="#aboutme"> About me </a>
    </nav>
</header>

<style>
    header {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }

    a:hover {
      color: rgb(213, 213, 65);
      transition: all 0.3s ease-in;
    }
  
    @keyframes nav-shadown {
      to {
        @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10 text-gray-700 mt-3 h-10;
      }
    }

    @media (max-width: 400px) {
      header {
        justify-content: center;
      }
      header img {
        display: none;
      }
    }
</style>