---
import SocialwPill from './SocialwPill.astro'
import GithubIcon from './icons/Github.astro'
import LinkedinIcon from './icons/Linkedin.astro'
---
<div class="border shadow-border-custom rounded-lg col-start-1 col-end-3 h-auto">
    <h1 class="text-white shadow-text-purple font-bold text-3xl sm:px-10 my-2 md:my-3 px-4"> Geovany Rincon </h1>
    <p class="text-white shadow-text-custom font-bold text-xl sm:px-10 max-w-lg text-pretty md:max-w-none md:px-5 px-5 my-2 md:my-4"> Hi, I'm a 17-year-old young man who really enjoys everything related to programming, especially web development. I'm ready to face new challenges and learn from them. </p>

    <ul class="flex justify-end items-end">
        
        <div class="flex gap-x-5 p-5">
            <a href="https:github.com/MartL7" target="_blank" class="hover:text-gray-400 hover:scale-110 transition inline-block">
                <GithubIcon class="size-7"/>
            </a>
    
            <a href="https://linkedin.com/" target="_blank" class="hover:text-gray-400 hover:scale-110 transition inline-block">
                <LinkedinIcon class="size-7" />
            </a>
        </div>
    </ul>
</div>

<figure class="border shadow-border-custom rounded-lg col-start-1 col-end-2 row-start-2 row-end-3 sm:col-start-3 sm:col-end-4 sm:row-start-1 sm:row-end-2">
    <img class="rounded-lg size-full hover:saturate-0 transition" src="https://avatars.githubusercontent.com/u/106359853?v=4">
</figure>