<a class="
rounded-full border border-white/10 
flex justify-center items-center gap-x-3 
py-3 px-3 lg:transition-all lg:duration-500 mr-2 
lg:hover:scale-110 lg:hover:bg-gray-950" 
href={Astro.props.href}
target="_blank">
     <slot />
</a>