---
import JavascriptIcon from './icons/Javascript.astro'
import ReactIcon from './icons/React.astro'
import TailwindIcon from './icons/Tailwind.astro'
import NodeIcon from './icons/Node.astro'
import PhpIcon from './icons/Php.astro'
import SqlIcon from './icons/Sql.astro'
---

<h2 class="text-white shadow-text-purple font-bold text-2xl my-2 md:my-3"> 
    Mainer Technologies 
</h2>

<ul class="flex flex-row gap-3">
    <JavascriptIcon class="w-6 h-6" />
    <ReactIcon class="w-6 h-6" />
    <TailwindIcon class="w-6 h-6" />
    <NodeIcon class="w-6 h-6" />
    <PhpIcon class="w-6 h-6" />
    <SqlIcon class="w-6 h-6" />
</ul>